.card{
    position: 'relative';
    display: 'flex';
    flex-direction: 'row';
    min-width: 0;
    word-wrap: 'break-word';
    background-color: '#fff';
    background-clip: 'border-box';
    border-radius: '.25rem';
    margin-top: '.5rem';
}